h1{
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: Sato, sans-serif;
    font-size: 65px;
    line-height: 1.1em;
    font-weight: 500;
    
}
.contact p{
    max-width: 448px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.email div a{
    font-family: Sato, sans-serif;
    color: #081158;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 500;
}
.phone div{
    font-family: Sato, sans-serif;
    color: #081158;
    font-size: 18px;
    line-height: 1.6em;
    
}
.contact button{
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    background-color:#081158;
    color: white;
}
.contact button:hover{
    background-color: white;
    border: 2px solid #081158;
    color:#081158;
}
.contact-form{
    padding: 0px 50px;
}
.contact-form .row{
    margin-top: 40px;
}

@media screen and (max-width:578px){
    .contact-form{
        padding: 0;
    }
    .contact-form input,.contact-form textarea{
        margin-bottom: 20px;
    }
    .contact-form .row{
        margin-top: 0px;
    }
    .contact h1{
        font-size: 45px;
    }
}