.herosection{
    background-image: url('src/bg_img/hero-section-bg.jpeg');
    padding: 300px 0px 250px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment: scroll;
    transform: rotateX(20deg);
}
.freehome h1{
    background-color: #eef0f4;
    text-align: center;
    padding: 50px;
    color: #081158;
    font-size: 75px;
    transform: skewY(2deg);
}
.herosection img{
    position: absolute;
    right: 18px;
    bottom: 118px;
    background-color: transparent;
}

@media screen and (max-width:578px){
    .freehome h1{
        font-size: 30px;
        font-weight: bold;
    }
    .herosection{
        background-image: url('src/bg_img/5e80a6e90c4ef4bcb4fd3071_Rectangle 439.png');
        padding: 160px 0px;
    }
    .herosection img{
        bottom: 30px;
    }
}